.clients {
    position: relative;
    padding-block: 65px 45px;
    background-color: #f8f8f8;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 0;
        aspect-ratio: 1 / 1;
        background-size: cover !important;
        transform: translateY(-23%);
        transition: inset .3s;
    }

    &::before {
        left: 14%;
        width: max(200px, 13vw);
        background: url('img/c_01.png') no-repeat;
    }

    &::after {
        right: 7%;
        width: max(250px, 16.67vw);
        background: url('img/c_02.png') no-repeat;
    }

    &__bg-decor {
        position: absolute;
        left: 0;
        bottom: 0;
        width: max(230px, 15.06vw);
        aspect-ratio: 1 / 1;
        background: url('img/c_03.png') no-repeat;
        background-size: cover;
    }

    &__slider-holder {
        position: relative;
    }

    & .section__title {
        z-index: 1;
        max-width: 640px;
        margin-inline: auto;
        margin-bottom: 100px;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 540px;
        min-height: 275px;
        margin-inline: auto;
    }

    &__card {
        position: relative;
        width: 100%;
        height: 100%;
        padding-inline: 70px;
        padding-block: 90px 70px;
        background-color: #fff;
        border-radius: 17px;
    }

    &__photo {
        position: absolute;
        top: 0;
        left: 50%;
        width: 120px;
        aspect-ratio: 1 / 1;
        border: 6px solid #FFF;
        border-radius: 50%;
        box-shadow: 6px 14px 27px 0px rgba(0, 0, 0, 0.15), -4px 11px 18px 0px rgba(0, 0, 0, 0.25) inset;
        transform: translateX(-50%) translateY(-50%);
    }

    &__text {
        font-size: 1.22rem;
        text-align: center;
        line-height: 200%;
        letter-spacing: 0.611px;
    }

    &__quote {
        position: relative;

        &::after {
            content: url('svg/quote_close.svg');
            position: relative;
            left: 2px;
            bottom: 6px;
            width: 12px;
            aspect-ratio: 1 / 1;
        }

        &::before {
            content: url('svg/quote_open.svg');
            position: absolute;
            top: 0;
            left: 0;
            width: 82px;
            aspect-ratio: 1 / 1;
            transform: translateY(-46%) translateX(-31%);
        }
    }

    &__slider-btn {
        position: absolute;
        z-index: 1;
        width: 62px;
        aspect-ratio: 1 / 1;
        top: 50%;
        background-color: #737373;
        background-image: url('svg/arrow_slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 27px 9px;
        border-radius: 50%;

        &_left {
            left: 0;
            transform: translateX(-50%) translateY(-50%);
        }

        &_right {
            right: 0;
            transform: translateX(50%) translateY(-50%) rotate(180deg);
        }
    }

    &__pagination {
        &-page {
            width: 32px;
            height: 2px;
            background-color: #fff;
            border-radius: 10px;
        }

        &-list {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        &-page_active {
            background-color: $clr-accent;
        }
    }
}

@media (max-width: 768px) {
    .clients {
        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}