section.section.clients
    .section__name.text-center Promotion
    h2.section__title.text-center See what our clients say about us
    .clients__bg-decor

    //- clients slider
    .clients__slider
        .clients__slider-holder
            button.clients__slider-btn.clients__slider-btn_left
            button.clients__slider-btn.clients__slider-btn_right
            .clients__slider-carousel
                .clients__card
                    img(src="img/clients/client_01.jpg", alt="Photo of our happy client").clients__photo
                    article
                    blockquote.clients__text.clients__quote.
                        Vel officiis dolor ea illo aut eligendi ullam non laudantium magnam et recusandae molestiae sit iure unde aut voluptate quaerat.
                        Id sunt provident quo possimus impedit vel doloremque obcaecati qui ullam consectetur et ipsum omnis.
                    p.clients__text.clients__name.text-bold Christine Beckam - Designer
        .clients__pagination
            ul.clients__pagination-list
                li.clients__pagination-page
                li.clients__pagination-page.clients__pagination-page_active
                li.clients__pagination-page