$font-family-main: Poppins, Verdana, sans-serif;
$font-family-secondary: 'Circular Std', Verdana, sans-serif;
$font-family-tertiary: Manrope, Verdana, sans-serif;
$font-family-accent: Volkhov, Georgia, serif;

$clr-accent: #DF6951;
$clr-bleak: #5E6282;